assessment3project2/src/main/mule/assessment3project2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="Flow" doc:id="1a7426d8-6553-478d-8387-729b66a99180" >
		<http:listener doc:name="Listener" doc:id="77604c93-dd34-450e-b692-492530005e2b" config-ref="domainHTTP_Listener_config" path="/project2" />
		<db:insert doc:name="Insert" doc:id="c18c868c-ee89-491f-ad30-6fa241cd921b" config-ref="domainDatabase_Config">
			<db:sql><![CDATA[insert into production.brands(brand_name) values ('Cremat')]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	Cremat: attributes.queryParams.brandname
	
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="ad34c5ad-4299-4fc7-863f-32df67135724" message="#[payload]" />
	</flow>
</mule>
