assessmet1/src/main/mule/assessmet1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81533006-7478-4864-9baa-8718f9f7c1b8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assessmet1Flow" doc:id="7476459d-6ec9-4bc4-b662-72ff2cdceaa8" >
		<http:listener doc:name="Listener" doc:id="40f4e7b4-04e1-479e-8810-6886ca630438" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="495aaa80-63e4-4364-88de-372299cc4125" variableName="CorelationId"/>
		<logger level="INFO" doc:name="Logger" doc:id="61fcaae9-5618-4015-aed2-09d94ded42a8" message="CorelationId- #[vars.CorelationId]"/>
		<ee:transform doc:name="payload" doc:id="9e53bd8c-7c89-4937-842d-4e4428789739">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
root: payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="demo" ><![CDATA[%dw 2.0
output application/json
---
{
	"count": 1
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="displayCorelationIdAndPayload" doc:id="f57efd3e-6b00-4873-82b5-f8d632c09819" message=" CorelationId -#[payload]--CorelationId--#[vars.demo]" />
	</flow>
</mule>
